.verify-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    color: white;
    margin: 0;
  }
  .error {
    margin-top: 20px;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 36px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .success {
    margin-top: 20px;
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 36px;
    padding: 6px 20px;
    border-radius: 10px;
  }
  .background {
    width: 2000px;
    height: 1500px;
    position: fixed;
    transform: rotate(-25deg) translateY(-1150px) translateX(200px);
    z-index: -1;
    background-color: rgb(14, 14, 145);
  }
  .ticket-verification-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .form-input {
      background-color: white;
    }
  }
}
