.log-in-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-container {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;

    .submit-button {
      padding: 10px;
      width: 200px;
    }
  }
  .to-registration {
    margin-top: 20px;
    & span {
      cursor: pointer;
      color: blue;
    }
  }
}
