.log-in-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  font-family: arial;

  h1 {
    margin: 0px;
    font-size: 24px;
  }

  .form-container {
    width: 90%;
    display: flex;
    justify-content: center;

    form {
      width: 100%;
    }
  }
  .to-registration {
    margin-top: 20px;
    & span {
      cursor: pointer;
      color: blue;
    }
  }
}
