.loader-container {
  background-color: rgb(88, 88, 88);
  opacity: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.loader {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  .small-bar {
    width: 4px;
    height: 13px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;

    &.c-1 {
      transform: translateY(-15px);
      animation: loader 0.5s ease-in-out infinite;
    }
    &.c-2 {
      transform: translate(10px, -10px) rotate(45deg);
      animation: loader 0.5s ease-in-out 0.05s infinite;
    }
    &.c-3 {
      transform: translateX(15px) rotate(90deg);
      animation: loader 0.5s ease-in-out 0.1s infinite;
    }
    &.c-4 {
      transform: translate(10px, 10px) rotate(-45deg);
      animation: loader 0.5s ease-in-out 0.15s infinite;
    }
    &.c-5 {
      transform: translateY(15px);
      animation: loader 0.5s ease-in-out 0.25s infinite;
    }
    &.c-6 {
      transform: translate(-10px, 10px) rotate(45deg);
      animation: loader 0.5s ease-in-out 0.3s infinite;
    }
    &.c-7 {
      transform: translateX(-15px) rotate(90deg);
      animation: loader 0.5s ease-in-out 0.35s infinite;
    }
    &.c-8 {
      transform: translate(-10px, -10px) rotate(-45deg);
      animation: loader 0.5s ease-in-out 0.45s infinite;
    }
  }
}

@keyframes loader {
  to {
    background-color: rgb(182, 179, 179);
  }
}
