.header-pop-up {
  margin: auto;
  background-color: rgb(142, 138, 138);
  border-radius: 10px;
  transform-origin: top;
  border: 1px solid black;
  width: 80%;

  &.hide {
    transform: rotateX(-30deg) scale(0.5);
    opacity: 0;
    z-index: -5;
    transition: all 200ms ease-in;
  }

  &.show {
    transform: rotateX(0deg);
    opacity: 1;
    z-index: 6;
    transition: all 200ms ease-out;
  }

  .title {
    text-align: center;
  }

  .pop-up-images {
    display: flex;
    margin: 10px 0 20px;
    justify-content: space-evenly;
    align-items: flex-end;
    justify-items: center;

    .pop-up-image-wrapper {
      text-align: center;
      cursor: pointer;

      .pop-up-image {
        width: 100px;
      }
    }
  }
}
