.mobile-layout {
  border: 7px solid black;
  border-radius: 30px;
  width: 240px;
  height: 95%;
  display: flex;
  justify-content: center;
  box-shadow: -8px -6px 10px #001a41bf;
  background: linear-gradient(45deg, #bfd3ff 30%, #0351f8);
  position: relative;

  .notch {
    width: 110px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }

  .mobile-layout-container {
    width: 85%;
    min-height: calc(100% - 25px);
    margin: auto 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .logo {
      width: 80px;
    }

    .mobile-layout-signin {
      width: 100%;
      height: 100%;

      h1 {
        margin-bottom: 0px;
        font-size: 22px;
      }

      .to-registration {
        display: none;
      }
    }
  }
}
