.mobile-layout {
  border: 10px solid rgb(62, 8, 110);
  border-radius: 30px;
  width: 230px;
  height: 95%;
  display: flex;
  justify-content: center;
  box-shadow: -8px -6px 10px #001a41bf;
  background: linear-gradient(45deg, #bfd3ff 30%, #0351f8);
  position: relative;

  .notch {
    width: 110px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }

  .mobile-layout-container {
    width: 85%;
    min-height: calc(100% - 25px);
    margin: auto 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    overflow-y: scroll;

    button {
      height: 50px;
      font-weight: 700;
      font-size: medium;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .logo {
      width: 100px;
    }

    .mobile-layout-signin {
      width: 100%;
      height: 100%;

      p {
        font-size: 18px;
      }

      .password-input {
        span {
          display: none;
        }
      }

      .input-group {
        margin: 15px 0;

        .form-input {
          background-color: white;
        }
      }

      h1 {
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
      }
      p {
        margin-bottom: 0;
      }

      .to-registration {
        display: none;
      }
    }
  }
}
