.ticket {
  width: 600px;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  display: flex;

  .ticket-qr-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      margin: 10px 0;
    }
  }
  .ticket-details {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    height: 100%;

    .subtotal {
      align-self: flex-end;
    }
  }
}
