.ticket {
  width: 800px;
  height: 440px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  border-radius: 20px;
  font-family: 'Josefin Sans', sans-serif;

  background: linear-gradient(#008cf1, white);

  .ticket-qr-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 20px;
    justify-content: center;
    position: relative;

    top: auto;
    h3 {
      font-size: 16px;
      text-align: center;
      margin: 10px auto;
    }
  }
  .ticket-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-top: 4%;
    height: 80%;
    font-size: 16px;

    .tid-wrapper {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
      font-size: 24px;
      margin: 10px;
      position: relative;
    }
    .monument_details {
      width: 90%;
      text-align: center;
    }
    .reservet-logo-test {
      width: 30%;
      position: relative;
      top: 40px;
    }
    .booking-status {
      background: green;
      color: white;
      display: inline-block;
      border-radius: 30px;
      height: 50px !important;
      font-size: 18px;
      width: 250px;
      text-align: center;
      margin-top: 30px;
    }
    p {
      margin: 10px 0 0;
    }
    .subtotal {
      align-items: center;
      font-size: 30px;
    }
    .tid {
      color: red;
      font-weight: 300;
      margin: 10px auto;
    }
  }
}
