.FAQ_container{

    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    margin-top: 15px;
    animation: ease-in;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
   
   
    .Title_Faq{
        
        text-align: center;
        margin: 0px;
        
        h3 {
            margin-top: 2px;
            margin-bottom: 10px;
        }
     }
    
      //  margin: 0px 10px;
        .FAQ_image{
            position: relative;
         img
        {
    
            overflow: hidden;
            width: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -5%);
        }
    }
       
        
         
    
    

}
