.carousel-container {
  width: 50%;
  height: 100%;
  overflow-y: hidden;
  border-radius: 15px;
  // background-color: white;

  .carousel {
    display: flex;
    flex-direction: column;
    margin-top: 260px;
    justify-content: flex-start;

    .slide {
      opacity: 1;
      transition: all 2s linear;

      img {
        height: 250px;
        border-radius: 15px;
      }

      &.current {
        opacity: 1;
      }

      &.prev {
        opacity: 1;
        position: absolute;
        transform: translateY(-260px);
      }
      &.next {
        opacity: 1;
        position: absolute;
        transform: translateY(+260px);
      }
      &.secPrev {
        position: absolute;
        top: -260px;
        transform: translateY(-260px);
      }
    }
  }
}
