.monument-card {
  border: 1px solid black;
  display: flex;
  margin: 10px auto;
  background-color: white;
  transition: transform 300ms;
  cursor: pointer;
  border-radius: 15px;
  width: 100%;

  &:hover {
    transform: scale(1.08);
    background: linear-gradient(90deg, #bfc9ff 20%, #677eff);
  }

  .monument-container {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    &.reverse {
      flex-direction: row-reverse;

      .description .wrapper {
        flex-direction: row-reverse;
      }
    }

    .image-container {
      width: 300px;
      overflow: hidden;
      border-radius: 15px;
    }
    .description {
      width: 80%;
      margin: 0 20px;

      .title {
        font-size: 20px;
        margin-bottom: 5px;
        left: 0px;
      }
      .loc {
        font-weight: 500;
        color: grey;
      }
      .wrapper {
        display: flex;
        width: 90%;
        justify-content: space-between;

        .timings {
          margin: 0;
          width: 200px;
          display: flex;
          justify-content: space-between;
          font-weight: 500;

          .timing {
            color: red;
          }
        }
        .booknow-button {
          background-color: #041947;
          width: 25%;
          border: 0px;
          color: white;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            // transform: scale(1.08);
            // background-color: #677eff;
            background: linear-gradient(90deg, #26293a 20%, #0328f5);
          }
        }
      }
    }
  }
}
