.monument-card {
  border: 1px solid black;
  width: 80%;
  height: 400px;
  display: flex;
  margin: 10px auto;
  background-color: white;
  transition: transform 300ms;
  cursor: pointer;
  border-radius: 15px;

  &:hover {
    transform: scale(1.08);
    // background-color: #677eff;
    background: linear-gradient(90deg, #bfc9ff 20%, #677eff);
  }

  .monument-container {
    padding: 15px;

    .image-container {
      width: 300px;
      overflow: hidden;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .title {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .loc {
      font-weight: 500;
      color: grey;
    }
  }
}
