.filter-card {
  border: 2px solid rgb(31, 41, 66);
  width: 30%;
  height: 240px;
  z-index: 3;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 300ms;

  &.monuments-card {
    background: linear-gradient(#a2daff, #638cff);
  }
  &.heritages-card {
    background: linear-gradient(#3eadcf, #abe9cd);
  }
  &.museums-card {
    background: linear-gradient(#f8d90f, #f37a15);
  }

  &:hover {
    .text-wrapper {
      background-color: rgba(0, 0, 0, 0.502);
      .filter-img-text {
        opacity: 1;
      }
    }
    .filter-img {
      z-index: -1;
    }
    transform: scale(1.08);
  }

  .filter-img {
    justify-items: center;
    width: 200%;
    height: 110%;
    position: absolute;
    left: -50%;

    &.museums-img {
      height: 100%;
    }
  }

  .text-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .filter-img-text {
      width: 100%;
      text-align: center;
      color: white;
      opacity: 0;
    }
  }
}
