.user-dashboard {
  height: 100vh;
  width: 400px;
  background: white;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 20;
  transition: all 300ms ease-in-out;

  &.hide {
    transform: translateX(600px);
  }

  .authenticate {
    text-decoration: none;
    color: white;
    background-color: #113cfd;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
    width: 100px;

    &:hover {
      color: black;
      background-color: rgb(255, 255, 255);
      font-weight: 700;
    }
  }
}
