.user-dashboard {
  height: 100vh;
  width: 400px;
  background: white;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 20;
  transition: all 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    text-align: center;
  }

  &.hide {
    transform: translateX(600px);
  }
  .logo {
    height: 150px;
    display: flex;
    margin: auto;
  }
  

  .authenticate {
    text-decoration: none;
    color: white;
    background-color: #113cfd;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 18px;
    transition: all 300ms;
    cursor: pointer;
    width: 100px;

    &:hover {
      color: black;
      background-color: rgb(26, 25, 25);
      font-weight: 700;
      color: white;
    }
  }
  .toggle {
    overflow-y: scroll;
    width: 90%;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      width: 90%;
      margin: 5px 20px;
      margin-right: 90px;
      background: white;
      padding: 0px 0px;
      border-top: 1px solid black;
      
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .questions {
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .description {
        color: black;
        max-height: 0px;
        overflow: hidden;
        transition-timing-function: linear;
      }
      .description_all {
        height: auto;
        max-height: 9999;
        transition-timing-function: linear;
      }
      .ans {
        font-size: 17px;
        display: flex;
        cursor: pointer;
        &::before {
          content: "- ";
        }
      }
    }
  }
}
