.ticket-house {
  display: flex;
  flex-direction: column;

  .heading {
    text-align: center;
  }

  .filter-monuments {
    display: flex;
    justify-content: center;
    margin: 20px auto 10px;

    .options {
      margin-left: 50px;
      outline: none;
      width: 300px;
      padding: 10px 15px;

      &.dropdown {
        cursor: pointer;
        border-radius: 15px;
        appearance: none;
        background-color: transparent;
      }

      &.search-field {
        border: none;
        font-size: 18px;
        border-bottom: 1px solid black;
      }
    }
    .down-arrow {
      transform: rotate(180deg);
      position: relative;
      height: 14px;
      right: 30px;
      top: 13px;
      z-index: -1;
    }
  }
  .monuments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    height: calc(100vh - 243px);
    overflow-y: scroll;
    padding-top: 20px;
  }
}

@media (max-width: 700px) {
  .ticket-house .monuments {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
  .ticket-house .monuments {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .ticket-house .monuments {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
