.ticket-house {
  display: flex;
  flex-direction: column;

  .background {
    width: 200vw;
    height: 200vh;
    position: fixed;
    top: -50vh;
    transform: rotate(-25deg) translateX(-80vw) translateY(-133vh);
    z-index: -1;
    background-color: rgb(14, 14, 145);
  }

  .heading {
    text-align: center;
  }

  .filter-monuments {
    display: flex;
    justify-content: center;
    margin: 20px auto 10px;

    .options {
      margin-left: 50px;
      outline: none;
      width: 300px;
      padding: 10px 15px;
      border-radius: 15px;

      &.dropdown {
        cursor: pointer;
        background-color: white !important;
        appearance: none;
      }

      &.search-field {
        border: none;
        font-size: 18px;
        border-bottom: 1px solid black;
      }
    }
    .down-arrow {
      transform: rotate(180deg);
      position: relative;
      height: 14px;
      right: 30px;
      top: 13px;
      z-index: 0;
    }
  }
  .monuments {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: calc(100vh - 243px);
    overflow-y: scroll;
    padding-top: 20px;
  }
}
