.ticket-house {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    color: white;
  }

  .background {
    width: 2000px;
    height: 1500px;
    position: fixed;
    transform: rotate(-25deg) translateY(-1150px) translateX(200px);
    z-index: -1;
    background-color: rgb(14, 14, 145);
  }

  .heading {
    text-align: center;
  }

  .filter-monuments {
    display: flex;
    justify-content: center;
    margin: 20px auto 10px;

    .options {
      margin-left: 50px;
      outline: none;
      width: 300px;
      padding: 10px 15px;
      border-radius: 15px;

      &.dropdown {
        cursor: pointer;
        background-color: white !important;
        appearance: none;
      }

      &.search-field {
        border: none;
        font-size: 18px;
        border-bottom: 1px solid black;
      }
    }
    .down-arrow {
      position: relative;
      height: 14px;
      right: 30px;
      top: 13px;
      z-index: 0;
      cursor: pointer;
    }
  }

  .filter-card-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px auto;

    .monument-card {
      background: aquamarine;
    }
    .heritage-card {
      background: antiquewhite;
    }
    .museum-card {
      background: blue;
    }
  }

  .monuments {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-items: center;
    padding-top: 20px;
  }

  .checkout-box-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 5;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
