.sign-up-and-log-in-page {
  display: flex;
  flex-direction: column;
  text-align: center;

  .background {
    width: 200vw;
    height: 200vh;
    position: fixed;
    top: -50vh;
    transform: rotate(-25deg) translateX(-80vw) translateY(-133vh);
    z-index: -1;
    background-color: rgb(14, 14, 145);
  }

  .authenticate-heading {
    color: white;
    margin-bottom: 0px;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 20px;

    .left-quote {
      width: 50%;
      display: flex;
      justify-content: center;

      h1 {
        width: 70%;
      }
    }
    .authentication {
      width: 100%;
      text-align: center;
      margin: auto;
    }
  }
}

@media (max-width: 850px) {
  .reservet-logo-container {
    display: none;
  }
}
