.sign-up-and-log-in-page {
  display: flex;
  height: calc(100vh - 90px);
  flex-direction: column;
  text-align: center;

  .background {
    width: 200vw;
    height: 200vh;
    position: fixed;
    top: -50vh;
    transform: rotate(-25deg) translateX(-80vw) translateY(-133vh);
    z-index: -1;
    background-color: rgb(14, 14, 145);
  }

  .authenticate-heading {
    color: white;
    margin-bottom: 0px;
  }

  .container {
    display: flex;
    flex-direction: row;
    border: 2px;
    border-style: solid;
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px;

    .left-quote {
      width: 50%;
      display: flex;
      justify-content: center;

      h1 {
        width: 70%;
      }
    }
    .authentication {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .auth-page-img-wrapper {
      width: 50%;
      position: relative;

      .auth-page-img-1 {
        width: 45%;
        position: absolute;
        top: 70px;
        left: 40px;
      }
      .auth-page-img-2 {
        width: 90%;
        position: relative;
        top: 120px;
      }
    }
  }
}

@media (max-width: 850px) {
  .reservet-logo-container {
    display: none;
  }
}
