.homepage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: calc(100vh - 90px);

  .homepage-background {
    width: 200vw;
    height: 200vh;
    position: fixed;
    top: -50vh;
    transform: rotate(-25deg) translateX(-80vw) translateY(-133vh);
    z-index: -1;
    // background: radial-gradient(#062a4e 20%, #2291ff);
    animation: background 3s ease-in-out infinite alternate;
  }

  .left-component {
    width: 52.5vw;
    text-align: center;
    margin: auto 0px;

    .tag-line {
      margin: auto;
      margin-bottom: 40px;
      width: 85%;
      color: white;
      font-size: 44px;
      // font-family: 'Architects Daughter', cursive;
      font-family: 'Balsamiq Sans', cursive;

      p {
        margin: 0;
      }
    }
  }

  .right-bottom-components {
    border: 1px solid #8ec0ff;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 47.5vw;
    height: 75vh;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 25px;
    background: linear-gradient(#2291ff, #ededed, #2291ff);
    box-shadow: -7px -7px 12px rgb(26, 45, 87);

    .side-view {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-top: 20px;

      .components {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: calc(100% - 65px);
        justify-content: space-evenly;
        position: absolute;
        bottom: 0px;
        right: 0px;
      }

      .search-bar {
        width: 650px;
        height: 30px;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 10px;

        img {
          width: 20px;
          margin-left: 10px;
          margin-top: 5px;
        }

        a {
          color: rgb(0, 0, 0);
          position: relative;
          text-decoration: none;
          bottom: 5px;
          left: 12px;
        }
      }

      // .carousel-container {

      // }
    }
  }
}

@keyframes background {
  from {
    background: rgb(30, 1, 100);
  }
  to {
    background: rgb(62, 107, 255);
  }
}
